body 
{
    background-color:#000030;
    color:white;
    margin: 0;
    padding: 0;
}

h1
{
    text-align:center
    font-family: monospace;
}
a{
    text-decoration-color: #00ffff;
    color: #ff6600;
}

p
{
    color:#ff6600;
    font-weight:500;
}
nav
{
    padding: 5px;
    background-color: #000000;
    margin: 0;
}
nav >ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight:600;
    font-family:'Lucida Console';
    color: #ff6600;
}

.site-title 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    padding:20px;
}
.article-list
{
    display: flex;
    list-style-type: none;
}

.article-card
{
    border-radius: 35px;
    background-color: #000000;
    margin-left: 15px;
    padding: 15px;
}

.thumbnail
{
    width: 100%;
    height: 100%;
    border-radius:25px;
    transition:box-shadow 1s ease;
}

.thumbnail:hover 
{
    box-shadow:0px 0px 0px 8px #ff6600;
}

.form-group
{
    display: grid;
}

.form-group >input, 
.form-group >textarea,
.form-group >select,
.form-group >input:focus, 
.form-group >textarea:focus
{
    color: #ff6600;
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
	  background: transparent;
	  box-shadow: none;
    outline: none;
    height:8vh;
}

#id_post
{
    min-height: 5vh;
    min-width: 50vh;
    height:16vh;
}
.form-group >select
{
    width: 6em;
}
