{% extends 'base.html' %}
{% block body %}
<div hx-target="this" hx-swap="outerHTML">
<div class="container pt-5">
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                  {{ field }}
                {% for error in field.errors %}
                    <span class="help-block" style="color:red">{{error}}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <div>
       <button 
         hx-post="."
         type="submit" class="btn btn-success btn-sm">
         Save
       </button>
        </div>
    </form>
</div>

<script>
const textarea = document.getElementById("text-content");
textarea.addEventListener("input", function (e) {
  this.style.height = "auto";
  this.style.height = this.scrollHeight + "px";
});
</script>
</div>
{% endblock %}
