<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <h1>
      {{ title }}
    </h1>
    <nav>
        <ul>
            <li><a class="navlink" href='/techstructive-blog'>Home</a></li>
            <li><a class="navlink" href='/techstructive-blog/archive/'>Blog</a></li>
            <li><a class="navlink" href='/techstructive-blog/projects/'>Projects</a></li>
        </ul>
    </nav>
    <hr>
    {{ body }}
    <footer>
      © {{ today.year }}
    </footer>
  </body>
  
</html>
