<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <nav>
        <a href="/techstructive-blog">
            <h1 id="blog-title">{{ title }}</h1>
        </a>
    <div id="shift">
        This website is now live at <a href="https://meetgor.com">meetgor.com</a> 
    </div>
          <ul class="navbar">
            <li><a class="navlink" href='/techstructive-blog'>Home</a></li>
            <li><a class="navlink" href='/techstructive-blog/archive/'>Archive</a></li>
            <li><a class="navlink" href='/techstructive-blog/series/'>Series</a></li>
            <li><a class="navlink" href='/techstructive-blog/projects/'>Projects</a></li>
            <li><a class="navlink" href='/techstructive-blog/tils/'>Tils</a></li>
        </ul>
    </nav>
    <hr>
    {{ body }}
    <footer>
      © {{ today.year }}
    </footer>
  </body>
  
</html>
