<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="../tbicon.png" type="image/png">
    <link rel='stylesheet' href='../main.css' />

    <title>{{ title }}</title>
</head>

<body>
    <a href="/techstructive-blog/"><h1>Techstructive Blog</h1></a>
    <nav>
        <ul>
            <li><a class="navlink" href='/techstructive-blog'>Home</a></li>
            <li><a class="navlink" href='/techstructive-blog/archive/'>Archive</a></li>
            <li><a class="navlink" href='/techstructive-blog/projects/'>Projects</a></li>
        </ul>
    </nav>
    <hr>
    <article class="blog-post h-entry">
         <div id='cover-wrapper'>
             <a href="{{ url }}"><img src={{image_url}} class="thumbnail" alt='cover image for article' /></a>
    </div> 
        <div id='title-wrapper'>

            <a class="u-url" href="/techstructive-blog/{{ slug }}/">
                <h1 class='flair' id="title" style="text-align:right;z-index:2;padding-right:.2rem" class="blog title no-link">{{ title }}
                </h1>
            </a>
            {% for tag in tags %}
            <a href="#" >#{{ tag }}</a>
            {% endfor %}
            <p><time class="dt-published post-date" datetime="{{ date }}" style="text-align:right;z-index:2">{{ date }}</time>
            </p>
            <div class="h-card p-author" rel="author">
                <div class="content">
                    <a class="p-name u-url" href="/techstructive-blog/">
                        <p>
                            <span class="p-given-name">Meet</span>
                            <span class="p-family-name">Gor</span>
                        </p>
                    </a>
                    <p class="p-note">Techstructive Blog<a href="https://twitter.com/MeetGor21">@MeetGor21</a></p>
                </div>
            </div>

        </div>

        <div id='post-body'>
            {{ body }}
        </div>
        <hr>
        <div id='show'>
        </div>
    </article>
    <footer>
    <ul class='social'>
      <li>
        <a href="https://twitter.com/MeetGor21">Twitter
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#twitter"></use>
            </svg>
            </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/meetgor/">LinkedIn
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#linkedin"></use>
            </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/Mr-Destructive">GitHub
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#github"></use>
            </svg>
         </a>
      </li>
      <li>
        <a href="https://dev.to/mr-destructive">Dev.to
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#devto"></use>
            </svg>
        </a>
      </li>
      <li>
    <a href="/techstructive-blog/rss.xml">RSS
        <svg class="svg-icon orange">
              <use xlink:href="../social-icons.svg#rss"></use>
        </svg>
    </a>
      </li>
      <li>
    <a class="u-email" href="mailto:gormeet711@gmail.com">Email</a>
      </li>
    </ul>
      Techstructive Blog © {{ today.year }}
      </footer>
</body>
</html>

