<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../tbicon.png">
    <link rel="stylesheet" href="../main.css">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="mr-destructive.github.io">
    <meta property="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1646235547/blog-media/a9aafsuwsg1mbt571mmi.png">
  </head>
  <body>
        <a href="/techstructive-blog/"><h1 id="blog-title">Techstructive Blog</h1></a>
    <nav>
          <ul class="navbar">
            <li><a class="navlink" href='/techstructive-blog'>Home</a></li>
            <li><a class="navlink" href='/techstructive-blog/archive/'>Archive</a></li>
            <li><a class="navlink" href='/techstructive-blog/series/'>Series</a></li>
            <li><a class="navlink" href='/techstructive-blog/projects/'>Projects</a></li>
            <li><a class="navlink" href='/techstructive-blog/tils/'>Tils</a></li>
        </ul>
    </nav>
    <hr>
    <h2>Series</h2>
    {{ body }}
    <footer>
      © {{ today.year }}
    </footer>
  </body>
  
</html>
