<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ title }}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta property="og:url" content="https://mr-destructive.github.io/techstructive-blog/tags">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Techstructive Blog">
      <meta property="og:description" content="">
      <meta property="og:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1646235547/blog-media/a9aafsuwsg1mbt571mmi.png">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:domain" content="mr-destructive.github.io">
      <meta name="twitter:url" content="https://mr-destructive.github.io/techstructive-blog/tags/">
      <meta name="twitter:title" content="Techstructive Blog">
      <meta name="twitter:description" content="">
      <meta name="twitter:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1646235547/blog-media/a9aafsuwsg1mbt571mmi.png">
      <link rel="stylesheet" href="../main.css"/>
      <link rel="icon" href="../tbicon.png"/>
  </head>
  <body>
    <nav>
        <a href="/techstructive-blog/"><h1 id="blog-title">Techstructive Blog</h1></a>
          <ul class="navbar">
            <li><a class="navlink" href='/techstructive-blog'>Home</a></li>
            <li><a class="navlink" href='/techstructive-blog/archive/'>Archive</a></li>
            <li><a class="navlink" href='/techstructive-blog/series/'>Series</a></li>
            <li><a class="navlink" href='/techstructive-blog/projects/'>Projects</a></li>
            <li><a class="navlink" href='/techstructive-blog/tils/'>Tils</a></li>
        </ul>
    </nav>
    <hr>
    <h2>Tags</h2>
    {{ body }}
    <footer>
        {{ title }} © {{ today.year }}
    </footer>
  </body>
  
</html>
