html
{ 
    background: #000030; 
    margin: 0;
    padding: 0;
}

body { 
    font-size: 1rem; 
    line-height: 1.56;
    font-family: "Space Mono", monospace;
}
nav{
    text-align: center;
}

nav >ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    font-family: "Space Mono", monospace;
}


h1, h2, h3, h4{
    color: #ff6600;
}

article{
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

blockquote {
  border-left: 5px solid #e1bd00c9;
  padding-left: 1rem;
  margin: 1rem;
}

li.post {
  list-style-type: None;
  padding: .2rem 0;
  background-color: black;
  margin-bottom: 20px;
  max-width: 95%;
}
.cover-image{
    width: 160px;
    height: 125px;
    margin: 1%;
}

#blog-title{
    color: #00ffff;
    font-size: 3vw;
}

#title{
    color: #00ffff;
}

pre {
  padding: 1rem;
  max-width: 100%;
  width: 80%;
  overflow-x: auto;
  padding: .15rem .3rem;
}

.tabbed-set {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  border-radius: 0.1rem;
}

.tabbed-set > input {
  display: none;
}

.tabbed-set label {
  width: auto;
  padding: 0.9375em 1.25em 0.78125em;
  font-weight: 700;
  font-size: 0.84em;
  white-space: nowrap;
  border-bottom: 0.15rem solid transparent;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}

.tabbed-set .tabbed-content {
  width: 100%;
  display: none;
  box-shadow: 0 -.05rem #ddd;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

h1 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
}

p {
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 30px;
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
    p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 20px;
    }
}

blockquote {
    font-family: "Space Mono", monospace;
}

code {
    font-family: "Space Mono", monospace;
}

pre {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-family: "Space Mono", monospace;
    font-family: "Space Mono", monospace;
}

a {
    font-family: "Space Mono", monospace;
    font-weight: 600;
    text-decoration: none;
    color: #25faa6;
    padding: .3rem .5rem;
    display: inline-block;
}

table {
    margin: 1rem 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}
table thead th {
    border: solid 1px #ffffff42;
    padding: 10px;
}

table tbody td {
    border: solid 1px #ffffff42;
    padding: 10px;
}


.post-list > .postcard > li > h3 > a {font-size: 120%; font-weight: 500; }
.post-list > .postcard > li > p {font-size: 100%; font-weight: 400; }
img { 
    max-width: 100%; 
    width: 80%;
    vertical-align: middle; 
}

figure > img { display: block; }

.wordcount { text-align:right;}

figcaption { font-size: 14px; }

li > ul, li > ol { margin-bottom: 0; }

blockquote { color: #ff6600; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #1f2937; }

code { padding: 1px 5px; color: #ffffff; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }


.svg-icon { width: 16px; height: 16px; display: inline-flex; fill: #ffffff; padding-right: 5px; vertical-align: text-top; }

table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 10px 15px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }

table td { border: 1px solid #e8e8e8; }

.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

.site-title { font-size: 36px; font-weight: 900; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; color: ##6dfaea;}

.site-title, .site-title:visited { color: #6dfaea; }

.site-nav { background-color:#010030;line-height: 54px; font-size:18px; position: center; text-align:center; background-color:#010030; color:#ffffff; font-weight:900}

.trigger { background-color:#010030; color:#ffffff;}

.site-nav .nav-trigger { display: none; text-align:center; background-color: #00003f; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #ffffff; line-height: 4.5; }

.site-nav .page-link:not(:last-child) { margin-right: 50px; }

@media screen and (max-width: 550px) { .site-nav { position: fixed ; top:40px; right: 15px; background-color: #010030; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; background-color:#010030; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #fff; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

.page-content { padding: 30px 0; flex: 1; }

.page-heading { font-size: 32px; }

.post-list-heading { font-size: 28px; }

.post-list { margin-left: 0; list-style: none; }

.post-meta { font-size: 18px; color: #ffffff; }

.subtitle { color: #00ffee; display: block; }
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }

.tags { color: #00ffee; padding-right:9px; }

@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 32px; }

@media screen and (max-width: 900px) { .post-content h2 { font-size: 28px; } }

.post-content h3 { font-size: 26px; }

@media screen and (max-width: 900px) { .post-content h3 { font-size: 22px; } }

.post-content h4 { font-size: 20px; }

@media screen and (max-width: 900px) { .post-content h4 { font-size: 18px; } }

.thumbnail {
width:100%; height: 30%;
border-radius:25px;
transition:box-shadow 1s ease;

 }

.thumbnail:hover {
box-shadow:0px 0px 0px 8px #ff6600;
 }

.highlighter-rouge .highlight { background: #1f2937; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #45f0f0; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #df0400; }
.highlight .n { color: #00ff00; }
.highlight .na { color: #008080; }
.highlight .nb { color: #00ffff; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #dddd00; }
.highlight .nt { color: #ff0088; }
.highlight .nv { color: #ffff00; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

.navbar{
    justify-content: space-around;
}
.navlink{
    list-style-type: none;
    color: #ff6600;
    font-size: 2vw;
    padding-right: 10px;
}
footer{
    color: #ff6600;
    list-style-type: none;
}
.social{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}
.text-primary {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	background-image: linear-gradient(90deg, #00ff77, #00ffee, #ff6600, #00f5ff, #00ff00);
	background-size: 400%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: animate 20s infinite alternate;
}

@keyframes animate {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

@media only screen and (max-width: 37.5em) {
	.text-primary {
		font-size: 2rem;
	}
}
.headline
{
    text-align: center;
}
.info{
    color: #00ffff;
    line-height: 40px;
    font-family: monospace;
    font-size: 20px;
}
.tagname{
    text-align: center;
}
input.fuzzy-search{
    position: relative;
    justify-content: center;
    left: 35%;
    font-size: 15px;
    height: 30px;
}

.prjlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}

.prjlist >li{
    color: #00ffff;
}
