---
layout: default
image: /assets/img/blogo.png
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading"><img src="{{ page.image | relative_url }}"/></h1>
  {%- endif -%}

  {{ content }}
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
<h3>Total Posts - {{ site.posts | size }} </h3>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url}}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pager">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/techstructive-blog/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | replace: ':num', page | relative_url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url}}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
    <div class="postcard" >
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
	    <img class="thumbnail" src="{{ post.image | relative_url }}"/>
            {{ post.title | escape }}
          </a>
        </h3>
	<p class="subtitle">{{ post.subtitle | escape }}</p>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
	<a class="read" href="{{ post.url | relative_url }}">Read more</a>
      <br />
    {%- for tag in post.categories -%}
    #<a class="tags" href="/techstructive-blog/tag/#{{tag}}">{{ tag }}</a>
    {% endfor %} 
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      <br />
      <br />
      </li>
</div>
      {%- endfor -%}
    </ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url}}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pager">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/techstructive-blog/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | replace: ':num', page | relative_url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url}}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
  {%- endif -%}

</div>
